<div class="container divbody mt-5 pt-5">
    <h3 class="d-flex justify-content-center text-light bg-dark">Employee From</h3>
    <form class="pt-3 divform">

        <!-- Nmae input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form3Example1">Full name</label>

            <input type="text" id="form3Example1" class="form-control" >
          </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Email address</label>

          <input type="email" id="form3Example3" class="form-control" >
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example4">Salary</label>

          <input type="" id="form3Example4" class="form-control" >
        </div>
      
        
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4 text-center">Sign up</button>
      
        
      </form>
</div>